<!DOCTYPE html>
<html lang="en">
<head>
  <title>LOL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Dekhlijiye</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Positive Comments</a></li>
    <li><a data-toggle="pill" href="#menu1">Negative Comments</a></li>
    <li><a data-toggle="pill" href="#menu2">Neutral Comments</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>POSITIVE COMMENTS</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      {% if comm %}
    <table cellpadding="5" >
    {% for com in comm %}
      <tr>
        <td style="padding:0 15px;"> <h3>{{com}}</h3></td>

      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h3>No blogs have been written by you</h3>
  {% endif %}
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>NEGATIVE COMMENTS</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>NEUTRAL COMMENTS</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>

  </div>
</div>

</body>
</html>
