<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_login.css') }}">
  </head>
  <body>

    <form action="/home" class="box"  method="post">
      <h1>Login</h1>
      <input id="user"type="text"  placeholder="UserName">
      <input id="pass"type="password"  placeholder="Password">
      <input id="btn" type="submit" name="" value="Login">
    </form>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="js/scripts.js" type="text/javascript"></script> -->

  </body>
</html>
