<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Youtube</title>
  </head>
  <body>
    <h1>HI</h1>
    <form method="post">

      <h1>Youtube Comment</h1>

      <div class="form-group">
        <label for="link">Video Link:</label>
        <input type="text" class="form-control" id="link" aria-describedby="link"placeholder="Enter the link" name="link">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>


  </form>
  </body>
</html>
